.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 139px;
    color: var(--main-color);
    padding: 139px 0;
}

.error-title {
    font-size: 288px;
    font-weight: 700;
    text-align: center;
    margin: unset;
}

.error-text {
    font-size: 36px;
    font-weight: 500;
    text-align: left;
    margin: unset;
}

.error-text br {
    display: unset;
}

.error-p {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    margin: unset;
    color: var(--main-color);
}

/** Version Mobile **/

@media (max-width: 767.98px) {
    .error-page {
        gap: 113px;

        .error-title {
            font-size: 96px;
        }

        .error-text {
            font-size: 18px;
            text-align: center;
            padding: 0 20px;
        }

        .error-p {
            font-size: 14px;
        }
    }
}