body {
    margin: unset;
    width: 100%;
}

* {
    font-family: Montserrat;
    font-weight: 500;
}

:root {
    --main-color: #FF6060;
    --second-color: #FFFFFF;
    --third-color: #F6F6F6;
    --footer-color: #000000;
    --host-color: #C4C4C4;
    --review-color: #E3E3E3;
}