.logement-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 45px;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.logement-carousel {
    position: relative;
}

.logement-img {
    border-radius: 25px;
}

#arrow-left, #arrow-right {
    font-size: 96px;
    color: var(--second-color);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#arrow-left {
    justify-self: start;
}

#arrow-right {
    justify-content: end;
}

.carousel-txt {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;
    top: 0;
    right: 0;
    width: 100%;
    height: 90%;
    margin: unset;
    font-size: 18px;
    font-weight: 500;
    color: var(--second-color);
}

/** Logement description **/

.description-block {
    width: 91%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.logement-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logement-title h1{
    color: var(--main-color);
    margin: unset;
    font-size: 36px;
    font-weight: 500;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: left;
}

.logement-title p {
    margin: unset;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.logement-host {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.logement-host p {
    margin: unset;
    color: var(--main-color);
}

.host-picture {
    width: 64px;
    height: 64px;
    background-color: var(--host-color);
    border-radius: 100%;
}

.logement-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logement-tag {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.logement-tag p {
    width: 115px;
    height: 25px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    background-color: var(--main-color);
    color: var(--second-color);
    margin: unset;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logement-stars {
    display: flex;
    flex-direction: row;
}

.logement-stars i {
    width: 36px;
    height: 36px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-stars {
    color: var(--main-color);
}

.inactive-stars {
    color: var(--review-color);
}

.description-text {
    display: flex;
    flex-direction: row;
    gap: 76px;
}

.block-text {
    width: 50%;
}

.block-text p {
    display: none;
}

.description-buttons {
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px 10px 10px;
    border-radius: 10px;
}

.description-buttons h2 {
    margin: unset;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--second-color);
}