.dropdown-button {
    background: var(--main-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    position: relative;
    z-index: 1;

    h1 {
        color: var(--second-color);
        margin: unset;
    }
}

/** About page **/

.about-buttons .dropdown {
    width: 100%;

    .dropdown-button {
        border-radius: 10px 10px 5px 5px
    }
}