.dropdown-button {
    background: var(--main-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    position: relative;
    z-index: 1;

    h1 {
        color: var(--second-color);
        margin: unset;
    }
}

.dropdown-txt {
    background: var(--third-color);
    border-radius: 10px 10px 5px 5px;
    color: var(--main-color);
    margin: -10px 0 0 0;
    padding: 25px;
}

#about-vector {
    font-size: 24px;
    color: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    transform-origin: center center;
}

/** About page **/

.about-buttons .dropdown {
    .dropdown-button {
        border-radius: 5px;
        height : 52px;
        display: flex;
        align-items: center;
        padding: 0 10px;
    }
}

.dropdown-txt .about-txt {
    height: auto;

    p {
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 0em;
        text-align: left;
        color: var(--main-color);
        margin: unset;
    }
}

/** Logements **/

/** Version Mobile **/

@media (max-width: 767.98px) {

.about-buttons .dropdown {
    .dropdown-button {
        height: 30px;
        display: flex;
        align-items: center;
        padding: 0 10px;
    }

    .dropdown-txt {
        padding: unset;
    }
}
}