.about-block {
    margin: 30px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.info-block {
    width: 70%;
}

.about-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.about-buttons {
    width: 100%;
}


/** Version Mobile **/

@media (max-width: 767.98px) {

    .about-block {
        margin: unset;
        padding: 20px 19px;
        gap: 19px;

        .info-block {
            width: 100%;
            gap: 20px;

            .about-infos {
                gap: 19px;
            }

            .about-buttons {
                width: 100%;

                h1 {
                    font-size: 13px;
                    padding: 0 10px;
                }

                #about-vector {
                    font-size: 16px;
                }
            }

            .about-txt {
                padding: 20px 20px 19px 20px;

                p {
                    font-size: 12px;
                }
            }
        }
    }
}