.about-block {
    margin: 30px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.info-block {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
}

#about-vector {
    font-size: 24px;
    color: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

.about-buttons {
    width: 100%;
    height: 52px;
    background: var(--main-color);
    border: unset;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-buttons h1 {
    font-size: 24px;
    font-weight: 500;
    color: var(--second-color);
    margin: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.about-infos {
    display: flex;
    flex-direction: column;
}

.about-txt {
    background: var(--second-color);
}

.about-txt p {
    display: none;
}

/** Version Mobile **/

@media (max-width: 767.98px) {

    .about-block {
        margin: unset;
        padding: 20px 19px;
        gap: 19px;

        .info-block {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;

            .about-buttons {
                width: 100%;
                height: 30px;

                h1 {
                    font-size: 13px;
                    padding: 0 10px;
                }

                #about-vector {
                    font-size: 16px;
                }
            }
        }
    }
}