@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
body {
  margin: unset;
  width: 100%;
  padding: 25px 0 0 0;
}

* {
  font-family: Montserrat;
  font-weight: 500;
}

:root {
  --main-color: #FF6060;
  --second-color: #FFFFFF;
  --third-color: #F6F6F6;
  --footer-color: #000000;
  --host-color: #C4C4C4;
  --review-color: #E3E3E3;
}

.img-block {
  width: 100%;
  height: 223px;
  position: relative;
  border-radius: 20px;
}
.img-block .img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
.img-block .img-background {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  margin: unset;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/** Version Mobile **/
@media (max-width: 767.98px) {
  .img-block {
    height: 111px;
  }
}
.dropdown-button {
  display: flex;
  justify-content: space-between;
  height: 100%;
  position: relative;
  z-index: 1;
}
.dropdown-button h1 {
  color: var(--second-color);
  margin: unset;
}

.dropdown-txt {
  background: var(--third-color);
  border-radius: 10px 10px 5px 5px;
  color: var(--main-color);
  margin: -10px 0 0 0;
  padding: 25px;
}

#about-vector {
  font-size: 24px;
  color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  transform-origin: center center;
}

/** About page **/
.about-buttons .dropdown .dropdown-button {
  background: var(--main-color);
  flex-direction: row;
  border-radius: 5px;
  height: 52px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.dropdown-txt .about-txt {
  height: auto;
}
.dropdown-txt .about-txt p {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  color: var(--main-color);
  margin: unset;
}

/** Logements **/
.description-buttons {
  display: flex;
}
.description-buttons .dropdown {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  width: 100%;
}
.description-buttons .dropdown .dropdown-button {
  background: var(--main-color);
  padding: 10px 20px 10px 10px;
  border-radius: 10px;
}
.description-buttons .dropdown .dropdown-button h1 {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
.description-buttons .dropdown .dropdown-button #about-vector {
  padding: unset;
}

/** Version Mobile **/
@media (max-width: 767.98px) {
  .about-buttons .dropdown .dropdown-button {
    height: 30px;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }
  .about-buttons .dropdown .dropdown-txt {
    padding: unset;
  }
}
.box {
  background-color: black;
  color: var(--second-color);
  text-align: center;
  padding: 30px;
}

@media (max-width: 767.98px) {
  .box {
    font-size: 12px;
    padding: 66px 120.31px 58px 121.09px;
  }
}
/** Header et Navigation **/
/** Version Desktop **/
.header {
  padding: 0 50px;
}
.header .nav-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header .nav-block .navigation {
  display: flex;
  flex-direction: row;
  gap: 57px;
}
.header p {
  margin: unset;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header a {
  text-decoration: unset;
  color: var(--main-color);
  font-size: 24px;
}
.header a.active {
  text-decoration: underline;
}

/** Version Mobile **/
@media (max-width: 767.98px) {
  .header {
    padding: 0 20px;
  }
  .header .nav-block .navigation {
    gap: 24px;
  }
  .header img {
    width: 30%;
  }
  .header a {
    font-size: 12px;
  }
  .nav-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.about-block {
  margin: 30px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.info-block {
  width: 70%;
}

.about-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.about-buttons {
  width: 100%;
}

/** Version Mobile **/
@media (max-width: 767.98px) {
  .about-block {
    margin: unset;
    padding: 20px 19px;
    gap: 19px;
  }
  .about-block .info-block {
    width: 100%;
    gap: 20px;
  }
  .about-block .info-block .about-infos {
    gap: 19px;
  }
  .about-block .info-block .about-buttons {
    width: 100%;
  }
  .about-block .info-block .about-buttons h1 {
    font-size: 13px;
    padding: 0 10px;
  }
  .about-block .info-block .about-buttons #about-vector {
    font-size: 16px;
  }
  .about-block .info-block .about-txt {
    padding: 20px 20px 19px 20px;
  }
  .about-block .info-block .about-txt p {
    font-size: 12px;
  }
}
.error-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 139px;
  color: var(--main-color);
  padding: 139px 0;
}

.error-title {
  font-size: 288px;
  font-weight: 700;
  text-align: center;
  margin: unset;
}

.error-text {
  font-size: 36px;
  font-weight: 500;
  text-align: left;
  margin: unset;
}

.error-text br {
  display: unset;
}

.error-p {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  margin: unset;
  color: var(--main-color);
}

/** Version Mobile **/
@media (max-width: 767.98px) {
  .error-page {
    gap: 113px;
  }
  .error-page .error-title {
    font-size: 96px;
  }
  .error-page .error-text {
    font-size: 18px;
    text-align: center;
    padding: 0 20px;
  }
  .error-page .error-p {
    font-size: 14px;
  }
}
.bloc {
  margin: 30px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/** Image Main page **/
#img-txt {
  font-size: 48px;
  color: var(--second-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

/** Logements **/
.logement-background {
  border-radius: 25px;
  background: var(--third-color);
}

.log-block {
  width: 100%;
  height: 100%;
}

.logement {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
}
.logement a {
  color: var(--second-color);
  text-decoration: none;
  display: flex;
  border-radius: 10px;
  width: 30%;
  flex-direction: column;
  margin: 15px;
  position: relative;
}

#cards-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.card-span {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.card-span p {
  padding: 0 10px;
}

@media (max-width: 1080px) {
  .logement a {
    width: 40%;
  }
}
/** Version Mobile **/
@media (max-width: 767.98px) {
  .bloc {
    margin: 20px;
    gap: 22px;
  }
  #img-txt {
    font-size: 24px;
    position: absolute;
    left: 16px;
  }
  .logement-background {
    height: unset;
    background: unset;
    gap: 22px;
    padding: unset;
  }
  .logement-background .logement {
    display: flex;
    flex-direction: column;
    height: unset;
    gap: 22px;
    padding: unset;
  }
  .logement-background .logement a {
    width: 100%;
    height: 255px;
    margin: unset;
  }
}
.logement-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 45px;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.logement-block .logement-carousel {
  position: relative;
  width: 91%;
  height: auto;
}
.logement-block .logement-carousel .logement-img {
  border-radius: 25px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 415px;
}
.logement-block .logement-carousel .img-hidden {
  display: none;
}
.logement-block .logement-carousel #arrow-left, .logement-block .logement-carousel #arrow-right {
  font-size: 96px;
  color: var(--second-color);
  position: absolute;
  top: 0;
  right: 0;
  width: 98%;
  height: 100%;
  display: flex;
  align-items: center;
}
.logement-block .logement-carousel #arrow-right {
  justify-content: end;
  padding: 0 40px;
}
.logement-block .logement-carousel .carousel-txt {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: end;
  top: 0;
  right: 0;
  width: 100%;
  height: 90%;
  margin: unset;
  font-size: 18px;
  font-weight: 500;
  color: var(--second-color);
}

/** Logement description **/
.description-block {
  width: 91%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.description-block .logement-description {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.description-block .logement-description .logement-title h1 {
  color: var(--main-color);
  margin: unset;
  font-size: 36px;
  font-weight: 500;
}
.description-block .logement-description .logement-title p {
  color: var(--main-color);
  margin: unset;
  font-size: 18px;
  font-weight: 500;
}
.description-block .logement-description .logement-tag {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.description-block .logement-description .logement-tag p {
  height: 25px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
  background-color: var(--main-color);
  color: var(--second-color);
  margin: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}
.description-block .logement-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.description-block .logement-rating .logement-host {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.description-block .logement-rating .logement-host p {
  margin: unset;
  color: var(--main-color);
}
.description-block .logement-rating .logement-host .host-picture {
  width: 64px;
  height: 64px;
  background-color: var(--host-color);
  border-radius: 100%;
}
.description-block .logement-rating .logement-stars {
  display: flex;
  flex-direction: row;
}
.description-block .logement-rating .logement-stars i {
  width: 36px;
  height: 36px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active-stars {
  color: var(--main-color);
}

.inactive-stars {
  color: var(--review-color);
}

.description-text {
  display: flex;
  flex-direction: row;
  gap: 76px;
  width: 91%;
}
.description-text .block-text {
  width: 100%;
}
.description-text .block-text p {
  margin: unset;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

/** Version Mobile **/
@media (max-width: 767.98px) {
  .logement-block {
    margin: 27px 0;
    gap: 10px;
  }
  .logement-block .logement-carousel {
    height: 255px;
  }
  .logement-block .logement-carousel #arrow-left, .logement-block .logement-carousel #arrow-right {
    font-size: 24px;
  }
  .logement-block .logement-carousel #arrow-right {
    padding: 0 10px;
  }
  .logement-block .logement-carousel .carousel-txt {
    display: none;
  }
  .logement-block .logement-carousel .logement-img {
    border-radius: 25px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
  .logement-block .description-block {
    display: flex;
    flex-direction: column;
  }
  .logement-block .description-block .logement-description {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .logement-block .description-block .logement-description .logement-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .logement-block .description-block .logement-description .logement-title h1 {
    font-size: 18px;
  }
  .logement-block .description-block .logement-description .logement-title p {
    font-size: 14px;
  }
  .logement-block .description-block .logement-description .logement-tag p {
    height: 18px;
    width: 84px;
    font-size: 10px;
    font-weight: 500;
  }
  .logement-block .description-block .logement-rating {
    flex-direction: row-reverse;
  }
  .logement-block .description-block .logement-rating .logement-host p {
    font-size: 12px;
  }
  .logement-block .description-block .logement-rating .logement-host .host-picture {
    height: 30px;
    width: 30px;
  }
  .logement-block .description-block .logement-rating .logement-stars i {
    width: 18px;
    height: 18px;
    font-size: 13px;
  }
  .logement-block .description-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .logement-block .description-text .block-text {
    width: 100%;
  }
  .logement-block .description-text .block-text .dropdown .dropdown-button {
    padding: 5px 10px;
    border-radius: 5px;
  }
  .logement-block .description-text .block-text .dropdown .dropdown-button h1 {
    font-size: 13px;
    padding: unset;
    font-weight: 500;
  }
  .logement-block .description-text .block-text .dropdown .dropdown-button #about-vector {
    font-size: 13px;
    padding: unset;
  }
  .logement-block .description-text .block-text .dropdown .dropdown-txt {
    padding: 10px;
    margin: -5px 0 0 0;
  }
  .logement-block .description-text .block-text .dropdown .dropdown-txt .dropdown-block p {
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
  }
}/*# sourceMappingURL=styles.css.map */