.logement-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 45px;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.logement-carousel {
    position: relative;
    width: 91%;
    height: 415px;
}

.logement-img {
    border-radius: 25px;
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.img-hidden {
    display: none;
}

.logement-img-mobile {
    display: none;
    border-radius: 25px;
    width: 100%;
    object-fit: cover;
}

#arrow-left, #arrow-right {
    font-size: 96px;
    color: var(--second-color);
    position: absolute;
    top: 0;
    right: 0;
    width: 98%;
    height: 100%;
    display: flex;
    align-items: center;
}

#arrow-right {
    justify-content: end;
    padding: 0 40px;
}

.carousel-txt {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: end;
    top: 0;
    right: 0;
    width: 100%;
    height: 90%;
    margin: unset;
    font-size: 18px;
    font-weight: 500;
    color: var(--second-color);
}

/** Logement description **/

.description-block {
    width: 91%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.logement-description {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.logement-title h1{
    color: var(--main-color);
    margin: unset;
    font-size: 36px;
    font-weight: 500;
}

.logement-title p {
    color: var(--main-color);
    margin: unset;
    font-size: 18px;
    font-weight: 500;
}

.logement-host {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.logement-host p {
    margin: unset;
    color: var(--main-color);
}

.host-picture {
    width: 64px;
    height: 64px;
    background-color: var(--host-color);
    border-radius: 100%;
}

.logement-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logement-tag {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.logement-tag p {
    min-width: 115px;
    height: 25px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    background-color: var(--main-color);
    color: var(--second-color);
    margin: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.logement-stars {
    display: flex;
    flex-direction: row;
}

.logement-stars i {
    width: 36px;
    height: 36px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-stars {
    color: var(--main-color);
}

.inactive-stars {
    color: var(--review-color);
}

.description-text {
    display: flex;
    flex-direction: row;
    gap: 76px;
    width: 91%;
}

.block-text {
    width: 50%;
}

.block-text p {
    display: none;
}

.description-buttons {
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px 10px 10px;
    border-radius: 10px;
}

.description-buttons h2 {
    margin: unset;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--second-color);
}

/** Version Mobile **/

@media (max-width: 767.98px) {

    .logement-block {
        margin: 27px 0;
        gap: 10px;

        #arrow-left, #arrow-right {
            font-size: 24px;
        }
    
        #arrow-right {
            padding: 0 10px;
        }
    
        .carousel-txt {
            display: none;
        }
    
        .logement-img {
            display: none;
        }
    
        .logement-img-mobile {
            display: unset;
        }

        .description-block {
            display: flex;
            flex-direction: column;

            .logement-description {
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;

                .logement-title {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    h1 {
                        font-size: 18px;
                    }

                    p {
                        font-size: 14px;
                    }
                }

                .logement-tag p{
                    height: 18px;
                    width: 84px;
                    font-size: 10px;
                    font-weight: 500;
                }
            }

            .logement-rating {
                flex-direction: row-reverse;
                .logement-host {

                    p{
                        font-size: 12px;
                    } 

                    .host-picture {
                        height: 30px;
                        width: 30px;
                    }
                }

                .logement-stars {

                    i {
                        width: 18px;
                        height: 18px;
                        font-size: 13px;
                    }
                }
            }
        }

        .description-text {
            gap: 20px;
            flex-direction: column;
            width: 91%;

            .block-text {
                width: 100%;

                .description-buttons {
                    height: 15px;
                    align-items: center;

                    h2 {
                        font-size: 13px;
                        padding: unset;
                        font-weight: 500;
                    }

                    #about-vector {
                        font-size: 13px;
                        padding: unset;
                    }
                }
            }
        }
    }
}