.box {
    background-color: black;
    color: var(--second-color);
    text-align: center;
    padding: 30px;
}

@media (max-width: 767.98px) {
    .box {
        font-size: 12px;
        padding: 66px 120.31px 58px 121.09px;
    }
}