/** Header et Navigation **/

/** Version Desktop **/

.header {
    padding: 20px 50px;
    
    .nav-block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .navigation {
            display: flex;
            flex-direction: row;
            gap: 57px;
        }
    }

    p {
        margin: unset;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        text-decoration: unset;
        color: var(--main-color);
        font-size: 24px;
    }

    a:focus {
        text-decoration: underline;
    }
}

/** Version Mobile **/

@media (max-width: 767.98px) {
    
    .header {
        
        padding: 0 20px;

        .nav-block {
            .navigation {
                gap: 24px;
            }
        }

        img {
            width: 40%;
        }

        a {
            font-size: 12px;
        }
    }

    .nav-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}